# Master config file (built)
directorofme.conf

# Intermediate build artifacts
*.tmp

# Editors
.*.sw[ijklmnop]
.DS_Store
*.un~

# Python
.requirements.out
*.egg-info
.eggs/
*.pyc
__pycache__
build
dist
.cache/
.coverage
.pytest_cache

# Built python files
setup.py
setup.cfg


# Javascript
build
node_modules
package-lock.json
yarn.lock
coverage

# Daemontools artifacts
service
.daemontools

# PostgreSQL artifacts
.*postgresql.*.out

# nginx build artifacts
www-errors
www
