[Unit]
Description=Daemontools Boot Loader
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/svscanboot
KillMode=process
Restart=on-failure
RestartPreventExitStatus=100
Type=simple

[Install]
WantedBy=multi-user.target
Alias=svscanboot.service
