[Unit]
Description=Daemontools Boot Loader
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/local/bin/svc -dx /service/* /service/*/log
ExecStart=/usr/local/bin/svscan /service
ExecStop=/usr/local/bin/svc -dx /service/* /service/*/log && kill $MAINPID
Restart=on-failure
RestartPreventExitStatus=100
Type=simple

[Install]
WantedBy=multi-user.target
Alias=svscanboot.service
